.segment {
  max-height: 300px;
  overflow-y: auto;
}

.userBasicInfo {
  margin-bottom: 20px !important;
}

.userBasicInfoImage {
  margin-top: -15px !important;
}

.statsHeading, .statsLabelGroup {
  margin-bottom: 10px !important;
}

.userDetailsSegment {
  text-align: center !important;
}

.userDetailsSegmentAvatarComp {
  margin-top: -20px;
}


