.answerItem {
  height: 180px;
}

.answerItemContent {
  margin-left: 15px !important;
}

.answerTime {
  float: left;
  margin-top: 15px;
}

.answerItemStatsGrid {
  width: 150px;
  margin-left: 0;
  margin-top: -5px !important;
}

.answerItemStatsGridRow {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.answerItemStatsNum {
  font-weight: bold;
}

.answerItemAskerGroup {
  float: right;
}

.answerItemLabels {
  float: left;
}

.answerItemStatsGridRowDiv {
  text-align: center;
  padding-left: 0 !important;
}
