.answerStatsGrid {
  width: 150px;
  margin-left: -5px !important;
  margin-top: 10px !important;
}

.answerStatsGridRow {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.answerStatsNum {
  font-weight: bold;
}

.answerStatsGridRowDiv {
  text-align: center;
  padding-left: 0 !important;
}