.questionStatsGrid {
  text-align: center;
  padding-right: 2% !important;
}

.questionStatsGridRow {
  padding-bottom: 10px !important;
  padding-top: 0 !important;
}

.questionStatsVoteIcon {
  margin-left: 3px !important;
}

.questionStatsNum {
  font-weight: bold;
}

.questionStatsGridRowDiv {
  text-align: center;
  padding-left: 0 !important;
}