.commentTextareaContainer {
  margin-top: 20px !important;
}

.commentTextareaContainerFocused {
  margin-top: 20px !important;
  padding: 10px;
  background-color: aliceblue;
}

.paginationContainer {
  margin-top: 15px;
}

.commentListHeaderContainer {
  display: inline-block;
}

.commentListHeader {
  font-size: 1.3em;
  font-weight: bold;
  margin-right: 10px;
}

.commentListShowHideLink {
  float: right;
  margin-top: -2px !important;
}

