.questionListSearchBtnPanel {
  float: right;
}

.questionListPagination {
  float: right;
}

.questionTotalCount {
  float: left;
  margin-top: 10px;
  //font-weight: bold;
}

.questionListPaginationContainer {
  height: 30px;
}
