.questionListSearchBtnPanel {
  float: right;
}

.questionListPagination {
  float: right;
}

.questionListTotalCountHeading {
  font-weight: bold;
  font-size: 1.2em;
}

.questionListFilteredIndicator {
  font-weight: bold;
  font-size: 0.9em;
  color: darkcyan;
}

.questionListPaginationContainer {
  height: 30px;
}

.activityLogCardContent {
  max-height: 400px;
  overflow-y: auto;
}
