.questionStatsGrid {
  width: 150px;
  margin-left: 0;
  margin-top: -5px !important;
}

.questionStatsGridRow {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.questionStatsNum {
  font-weight: bold;
}

.questionStatsGridRowDiv {
  text-align: center;
  padding-left: 0 !important;
}