.hidden {
  display: none;
}

.questionItem {
  height: 180px;
}

.questionItemContent {
  margin-left: 15px !important;
}

.questionTime {
  float: right;
}

.questionItemStatsGrid {
  width: 150px;
  margin-left: 0;
  margin-top: -5px !important;
}

.questionItemStatsGridRow {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.questionItemStatsNum {
  font-weight: bold;
}

.questionItemAskerGroup {
  float: right;
}

.questionItemLabels {
  float: left;
}

.questionItemStatsGridRowDiv {
  text-align: center;
  padding-left: 0 !important;
}

.questionActions {
  margin-top: -5px !important;
}

.questionNameInput {
  width: 100% !important;
}

.questionSubTitleInput {
  width: 100%;
}

.formButtonGroup {
  float: right;
}
